# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Visual studio auxiliary files and folders
**/.vs
**/x64
**/Debug
**/Release
*.VC.db
*.VC.VC.opendb
*.sdf
*.suo
TestResults/*
TestLogging/*

# Auxiliary files
*.pdf

# Merge originals 
*.orig

# DLLs, executables and static libraries should NOT be excluded for 3rd-party components
!3rd_party/**/*.dll
!3rd_party/**/*.exe
!3rd_party/**/*.lib
!3rd_party/dxcompiler/*.dll

# Engine-generated caches
*.thread*