#ifndef LEXGINE_CORE_MISC_BUILD_INFO_H

#define PROJECT_CODE_NAME "LEXGINE ORIGIN"
#define PROJECT_VERSION ${project_version}
#define PROJECT_VERSION_MAJOR (PROJECT_VERSION >> 48)
#define PROJECT_VERSION_MINOR ((PROJECT_VERSION >> 32) & 0xFFFF)
#define PROJECT_VERSION_BUILD ((PROJECT_VERSION >> 16) & 0xFFFF)
#define PROJECT_VERSION_REVISION (PROJECT_VERSION & 0xFFFF)
#define PROJECT_GIT_COMMIT_HASH ${git_commit_hash}

#define LEXGINE_CORE_MISC_BUILD_INFO_H
#endif
